@mixin flex($justify, $align, $gap: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;

    @if($gap != null){
        gap: $gap;
    }
}

@mixin grid($numbers, $gap, $padding) {
    display: grid;
    grid-template-columns: repeat($numbers, 1fr);
    width: 100%;
    gap: $gap;
    padding: $padding;
}